  body{
    background-color : pink;
  }
h1{
  color: white;
}
p {
    font-family: Georgia;
    font-size:18px;
}
img{
    transform: rotate(90deg);
}

.enlarge-onhover {
         width: 200px;
         height: 160px;
    }

    .enlarge-onhover:hover {
         width: 220px;
         height: 180px;
    }
.changecolor {
        color:white
}
.changecolor:hover{
        color:lightblue
}
